[submodule "MIA-Trading-company/Mohammad-ilyas-Ahmadzai-Trading-company"]
	path = MIA-Trading-company/Mohammad-ilyas-Ahmadzai-Trading-company
	url = git@github.com:MIA-Trading-company/Mohammad-ilyas-Ahmadzai-Trading-company.git
	branch = MIARC
